<div class="flex h-screen overflow-hidden bg-gray-100">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div
    class="fixed inset-0 z-40 flex {{ offCanvasVisible ? '' : 'hidden' }}"
    role="dialog"
    aria-modal="true"
  >
    <!-- Off-canvas menu overlay, show/hide based on off-canvas menu state. -->
    <div
      class="{{
        offCanvasVisible ? '' : 'hidden'
      }} fixed inset-0 bg-gray-600 bg-opacity-75"
      aria-hidden="true"
    ></div>
    <!-- Off-canvas menu, show/hide based on off-canvas menu state. -->
    <div
      class="{{
        offCanvasVisible ? '' : 'hidden'
      }} relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4 bg-white"
    >
      <!-- Close button, show/hide based on off-canvas menu state. -->
      <div class="absolute top-0 right-0 pt-2 -mr-12">
        <button
          (click)="toggleOffCanvas()"
          class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Close sidebar</span>
          <!-- Heroicon name: outline/x -->
          <svg
            class="w-6 h-6 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <!-- Close button end -->
      <!-- LOGO Div for off-canvas menu starts here -->
      <div class="flex items-center flex-shrink-0 px-4">
        <img class="w-auto h-8" src="/assets/gnosys.png" />
      </div>
      <!-- LOGO Div for off-canvas menu ends here -->
      <div class="flex-1 h-0 mt-5 overflow-y-auto">
        <div>Off-canvas menu</div>
      </div>
    </div>
    <div class="flex-shrink-0 w-14" aria-hidden="true">
      <!-- Dummy element to force sidebar to shrink to fit close icon -->
    </div>
  </div>
  <!-- Static sidebar for desktop -->
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64">
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
  <div class="flex flex-col flex-1 w-0 overflow-hidden">
    <div class="relative z-10 flex flex-shrink-0 h-16 bg-white shadow">
      <button
        (click)="toggleOffCanvas()"
        class="px-4 text-gray-500 border-r border-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
      >
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: outline/menu-alt-2 -->
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </button>
      <div class="flex justify-end flex-1 px-4">
        <router-outlet name="topbar"></router-outlet>
      </div>
    </div>

    <main class="relative flex-1 overflow-y-auto focus:outline-none">
      <div>
        <router-outlet name="progressbar"></router-outlet>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
